*, 
*::before, 
*::after
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body
{
    background-color: rgb(54, 57, 63);
}

#minimize 
{
    overflow: hidden;
    min-width: 15px;
    max-width: 15px;
    min-height: 30px;
    max-height: 30px;
}
